/** @format */

body {
	overflow: hidden;
	margin: 0;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4.5rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

.watermark {
	position: fixed;
	bottom: 0px;
	left: 15px;

	color: rgb(73, 73, 73);
}

.title {
	margin: 15vh auto;
	width: 50vw;

	text-align: center;

	#header {
		h1 {
			display: none;
		}
		h2 {
			display: none;
		}
	}

	#start,
	#players {
		margin-top: 5rem;
		display: none;
	}

	#players {
		text-transform: uppercase;
	}

	.selected {
		font-weight: 900;

		color: yellow;
	}

	.unselected {
		display: none;
	}
}

.selection {
	display: none;
	margin: 5vh auto;

	text-align: center;

	h6 {
		margin-bottom: 10px;
	}

	h3 {
		margin-top: 0px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 2rem 1fr 2rem;
		gap: 1px 1px;
		grid-template-areas:
			". . . ."
			"Char1 Char2 Char3 Char4"
			". . . .";

		h5,
		h6 {
			margin-top: 5px;
			margin-bottom: 5px;

			align-self: baseline;
		}
	}

	.charslot {
		width: 100%;
		padding-top: 100%; /* 1:1 Aspect Ratio */
		position: relative; /* If you want text inside of it */
	}

	#char1 {
		grid-area: Char1;
		background-color: rgb(245, 245, 0);
	}

	#char2 {
		grid-area: Char2;
		background-color: rgb(0, 162, 245);
	}

	#char3 {
		grid-area: Char3;
		background-color: rgb(245, 0, 0);
	}

	#char4 {
		grid-area: Char4;
		background-color: rgb(0, 245, 0);
	}
}

.flash {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 99999;

	background-color: white;
}

.grayscale {
	filter: grayscale(1);
}

/*
*
*   Animation Stuff
*
*/

.blink {
	animation: blink 0.5s steps(5, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

.fall {
	animation: fall 0.5s linear;
}

@keyframes fall {
	from {
		transform: translateY(-75px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.zoom {
	animation: zoom 0.3s linear;
}

@keyframes zoom {
	from {
		transform: scale(5);
	}
	to {
		transform: scale(1);
	}
}
